.encryption-word__letter {
   font-family: 'Orbitron','Segoe UI', sans-serif, Arial, Helvetica, sans-serif;
   font-weight: 400;
   min-width: 40px;
   pointer-events: none;
   text-align: center;
   color: #fff;
   font-size: 40px;
   margin: 0;
   background-color: #05d9e8;
   line-height: 1;
   transform: translateY(-3px);
}